# Ignore node_modules for frontend
/secure-file-storage-ui/node_modules/

# Ignore build folders for backend (e.g., target for Spring Boot)
/Secure-File-Storage/target/
/Secure-File-Storage/build/

# Ignore IDE files
.idea/
/.vscode/

# Ignore OS-specific files
.DS_Store
